---
name: build nodejs application 
on: # multiple trigger when this workflow can run
 workflow_dispatch: # also select which job to run
   inputs: # use to select the job name
     job_name: # can be any name like a variable name
       description: "Select the job to run" # description visible to user
       required: True # user should mandatory select one job for the workflow to start
       type: choice # job_name stores multiple values for user to select 
       options: # give correct job names
        - job1-build
        - job2-codeCoverage        
jobs:
  job1-build:
    if: ${{ github.event.inputs.job_name == 'job1-build' }}
    # run above when input selected is job1_build
    runs-on: ubuntu-latest
    steps: 
    - name: Clone the repo 
      uses: actions/checkout@v6 
    - name: Install java on runner
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '21'
    - name: Build java code 
      run: mvn clean package
  job2-codeCoverage:
    if: ${{ github.event.inputs.job_name == 'job2-codeCoverage' }}
    # run above when input selected is job2-codeCoverage
    # needs: build # creating dependency between 2 jobs. first build job will be completed and then codeCoverage will start 
    # first build job will be completed and then code coverage will start.
    runs-on: ubuntu-latest
    steps: 
    - name: Clone the repo 
      uses: actions/checkout@v6 
    - name: Install java on runner
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '21'
    - name: Build java code 
      run: mvn clean package
    - name: Code Coverage using SonarQube
      run: mvn -B verify sonar:sonar -Dsonar.projectKey=sonar-demo-ar-jenkins-github_sonar-demo-ar-jenkins-github-projrct -Dsoanr.organization=sonar-demo-ar-jenkins-github -Dsonar.host.url=https://sonarcloud.io/ -Dsonar.token=$SONAR_TOKEN
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Automatically generated token for Github API authentication (with limited scope)
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
